<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@500&family=Poppins:wght@400;700"
      rel="stylesheet"
    />
    <script defer src="/javascripts/cart-remove.js"></script>
    <script defer src="/javascripts/customization-button-cart.js"></script>
    <title>Café Java Hut - Cart</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <img
            class="nav-java"
            src="/images/logo-java.png"
            height="60px"
            width="70px"
          />
          <a class="nav-java" href="/home">Café Java Hut</a>
        </div>
        <div class="navbar">
          <a class="nav-home" href="/menu">Menu</a>
          <a class="nav-home" href="/cart">Cart</a>
          <a class="nav-home" href="/user">Sign in</a>
        </div>
      </nav>
    </header>
    <h1>Cart</h1>
    <div class="product-column-wrapper">
      <div class="product-column">
        <div><h3>Product</h3></div>
        <div><h3>Customizations</h3></div>
        <div><h3>Price</h3></div>
        <div><h3>Keep</h3></div>
      </div>
    </div>
    <div class="product-items-wrapper">
      <div>
        <% order.forEach(function(product){%>
        <form
          action="/cart/<%=product.id%>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <div class="product-items">
            <div class="product-text"><%= product.name %></div>
            <div class="product-customizations">
              <% if (product.drink_id) {%> Cream: <%=product.customization_cream
              %> | Milk: <%=product.customization_milk %> | Sugar:
              <%=product.customization_sugar %> <% }%>
            </div>
            <div class="quantity-buttons">
              <input
                class="input"
                id="input-quantity"
                name="price"
                value="$<%=product.price%>"
              />
            </div>
            <div class="remove">
              <button class="remove" type="submit">Remove</button>
            </div>
          </div>
        </form>
        <%})%>
      </div>
    </div>
    <form action="/message" method="POST" autocomplete="off">
      <div id="checkout-button">
        <button type="submit" id="checkout">Order</button>
      </div>
    </form>
  </body>
</html>
